/**
 * Vehicle Card Styling
 * Styling follows BEM convention
 */

$color-price-label: #FFDC40;
$price-label-width: 70px;

.vehicle-detail {
	// Structure
	margin: 12px 0;
	height: 250px;

	/**
	 * Wrapper div for all the vehicle meta fields
	 */
	&__details {
		margin: 12px 0;
		font-size: 16px;
	}

	/**
	 * Vehicle Name
	 */
	&__name {
		// Structure
		display: block;
		width: 60%;
		height: 64px;

		// Style
		font-size: 22px;
		font-weight: 900;
	}

	/**
	 * Vehicle Cost
	 */
	&__rate-total-amount {
		// Structure
		display: inline-block;
		width: $price-label-width;
		height: 40px;
		line-height: 40px;
		margin: 0;
		text-align: center;

		// Style
		font-weight: 600;
		font-size: 16px;
		background: $color-price-label;
		@include text-shadow(rgba(255,255,255, .2) 1px 1px, rgba(255,255,255, .2) 1px 1px);
		@include border-radius(3px);
	}

	/**
	 * Vehicle Image
	 */
	&__image {
		// Structure
		width: 250px;
		height: 250px;
		text-align: center;
		margin: 0 auto;

		// Style
	}

	/**
	 * Vehicle Meta Info
	 */
	&__meta {
		color: #333;
		font-weight: 300;
		display: inline-block;
		width: 50%;

		&:nth-of-type(even) {
			float: right;
			text-align: right;
		}
	}

	&__vendor {
		width: 50%;
		display: block;
		float: left;
		font-weight: 600;
		text-align: left;
	}

	&__status {
		width: 50%;
		display: block;
		float: left;
		text-align: right;
	}

}