@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,900);

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
}

// View / Screens Styilng
@import 'sass/ui-colors',
		'sass/ui-variables',
		'sass/utils';

// Skeleton Structure Files
@import 'structure/footer',
        'structure/header',
        'structure/responsive';

// View / Screens Styilng
@import 'views/detail';

// Modules
@import '../modules/vehicleCard/vehicleCard';

#main {
	background: $color-body-background;
	padding-bottom: $ui-footer-height;
}